/* Estilização geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --azul-logo: #3AC6DA;
    --azul-logo-degrade: #3aafda;
    --azul-escuro: #0F1550 ;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* Fim Estilização geral */

/* inicio site */
.inicio{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.paragrafo{
    font-size: 17px;
}

.bg-image{
    background-image: url('../assets/ocean.png');
}

header{
    display: flex;
    z-index: 100;
}

#logo{
    margin-top: 10px;
    margin-left: 10%;
    width: 200px;
    height: 55px;
    transition: 0.3s;
}

#logo:hover{
    transform: scale(1.03);
}

/*Menu lista*/
.menu-lista {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.menu-lista li {
    margin-right: 20px; /* Ajuste para aumentar ou diminuir o espaço entre os itens */
}

.menu-lista li:last-child {
    margin-right: 0; /* Remove a margem do último item */
}

.menu-lista a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Estilo para o menu hamburguer */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
    margin-top: 25px;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background: white;
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}

/* fim menu lista */
nav{
    margin-left: 15%;
}

nav li a{
    color: white;   
    text-decoration: none;
}

nav li a:hover{
    color: aqua;
}

nav li{
    transition: 0.3s;
}

nav li:hover{
    color: aqua;
    transform: scale(1.03);
}

nav ul{
    margin-top: 30px;
    gap: 20px;
    display: flex;
    list-style-type: none;
    margin-left: 80%;
}

section.animal{
    margin-top: 200px;
    padding: 40px 4%;
}

section.animal .flex{
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.animal h1{
    color: white;
    font-size: 42px;
    line-height: 37px;
    z-index: 99;
}

.animal h1 span{
    font-size: 45px;
    background-image: linear-gradient(var(--azul-logo-degrade), var(--azul-logo));
    -webkit-text-fill-color: transparent; /* Deixa a cor do texto transparente */
    background-clip: text; /* Coloca a cor do fundo como a cor do texto */
    z-index: 99;
}

.animal .txt-animal p {
    color: white;
    margin: 40px 0;
    z-index: 98;
}

.animal button{
    padding: 20px 50px;
    font-size: 15px;
    color: var(--azul-logo);
    background-color: white;
    border: 2px solid var(--azul-logo);
    border-radius: 20px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
    z-index: 97;
}

.animal button:hover{
    transform: scale(1.02);
    color: white;
    border:2px solid white;
    background-color: var(--azul-logo);
}


.animal img{
    width: 500px;
    position: relative;
    animation: nadando 1.5s ease-in-out infinite alternate;
    transition: 0.3s ease-in-out;
    z-index: 96;
}

@keyframes nadando {
    0%{
        left: 0;
        top: 0;
    }
    100%{
        left: 10px;
        top: 10px;
    }
}
/* fim inicio site */


/* Problema */

section.problema{
    margin: 20px;
    z-index: 97;
    
}

.titulos-sections{
    text-align: center;
}

.titulos-sections h2{
    font-size: 35px;
}

.titulos-sections h2 span{
    background-image: linear-gradient(var(--azul-logo-degrade), var(--azul-logo));
    -webkit-text-fill-color: transparent; /* Deixa a cor do texto transparente */
    background-clip: text; /* Coloca a cor do fundo como a cor do texto */
}

.problema .flex{
    margin: 20px;
    gap: 20px;
    justify-content: center;
}

.img-problema img{
    margin-left: -30px;
    border-radius: 20px;
    width: 700px;
}

.problema .txt-problema{
    margin-top: 110px;
    font-size: 16px;
}

.problema i{
    color: var(--azul-logo);
    font-size: 60px;
}

/* Fim Problema */

/* Tecnologia */

.tecnologia{
    margin-top: 100px;
}

.tecnologia .flex{
    margin: 20px;
    gap: 20px;
}

.tecnologia .txt-tecnologia{
    margin-top: 130px;
}

.img-tecnologia img{
    border-radius: 20px;
    width: 700px;
}

/* Fim Tecnologia */

/* Objetivo */

.objetivo{
    margin-top: 100px;
}

.objetivo .flex{
    gap: 20px;
    margin-top: 20px;
}

.objetivo .txt-objetivo{
    margin-top: 120px;
}

.img-objetivo img{
    border-radius: 20px;
    width: 700px;
}

/* Fim Objetivo */

/* Publico */

.publico{
    margin-top: 100px;
}

.publico .flex{
    margin-top: 20px;
    gap: 20px;
}

.publico .txt-publico{
    margin-top: 110px;
}

.img-publico img{
    width: 700px;
    border-radius: 20px;
}

/* Fim Publico */

/* Beneficio */

section.beneficios{
    margin-top: 100px;
}

.beneficios .flex{
    margin-top: 20px;
    gap: 20px;
}

.img-beneficio img{
    width: 700px;
    border-radius: 20px;
}

.beneficios .txt-beneficio{
    margin-top: 110px;
}

/* Fim Beneficio */

/* Mudancas */ 

section.mudancas{
    margin-top: 100px;
}

.mudancas .flex{
    margin-top: 20px;
    gap: 20px;
}

.img-mudancas img{
    width: 700px;
    border-radius: 20px;
}

.mudancas .txt-mudancas{
    margin-top: 15px;
}

/* Mudancas */ 

/* Donate */
section.donate{
    margin-top: 100px;
}

.donate .txt-donate{
    margin-top: 30px;
}

.btn-donate{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: var(--azul-logo);
    border: 2px solid var(--azul-logo-degrade);
    border-radius: 20px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

.btn-donate i{
    margin-top: 3px;
}

.btn-donate:hover{
    padding: 10px;
    font-size: 15px;
    color: var(--azul-logo);
    background-color: white;
    border: 2px solid var(--azul-logo);
    border-radius: 20px;
    font-weight: 600;
    transform: scale(1.03);
}

.img-donate img{
    position: relative;
    border-radius: 20px;
    width: 700px;
    animation: flutuar 1s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 10px;
    }
}

/* Donate */

/* Final da pagina */

.div-final{
    background-image: url(../assets/div.png);
    width: 100%;
    height: 50vh;
}

footer{
    text-align: center;
    color: white;
}

footer img{
    margin-top: 200px;
}

footer h6{
    font-weight: 500;
}

footer img{
    width: 200px;
}

footer .flex {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center;     /* Centraliza os itens verticalmente (se necessário) */
    margin-bottom: 20px;
    margin-top: -5%;
}

.icon-style i{
    cursor: pointer;
    font-size: 35px;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}

.icon-style i:hover{
    color: var(--azul-logo);
}

.footer-content{
    justify-content: space-around;
    margin-top: 100px;
}

/* Fim Final da pagina */

@media screen and (max-width: 1280px){
    .menu-lista li {
        margin-right: 0px; /* Ajuste para aumentar ou diminuir o espaço entre os itens */
    }
    
    .menu-lista li:last-child {
        margin-right: 0; /* Remove a margem do último item */
    }
    
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .txt-animal h1{
        margin: -190px 0 0 0; /* Ajuste a margem superior conforme necessário */
        padding: 0;
        font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    }

    .animal img{
        margin-top: -80px;
        margin-bottom: 20px;
    }

    .objetivo .txt-objetivo{
        padding: 20px;
    }
    
    .publico .txt-publico{
        padding: 20px;
    }

    .beneficios .txt-beneficio{
        padding: 20px;
    }

    .mudancas .txt-mudancas{
        padding: 20px;
    }
    
    .donate .txt-donate{
        padding: 20px;
    }
}

@media screen and (max-width: 1260px){
    .menu-lista li {
        margin-right: -10px; /* Ajuste para aumentar ou diminuir o espaço entre os itens */
    }
    
    .menu-lista li:last-child {
        margin-right: -10; /* Remove a margem do último item */
    }
}

@media screen and (max-width: 1146px){
    .menu-lista li {
        margin-right: -10px; /* Ajuste para aumentar ou diminuir o espaço entre os itens */
    }
    
    .menu-lista li:last-child {
        margin-right: -10; /* Remove a margem do último item */
    }
}

@media screen and (max-width: 1075px){
    .menu-lista li {
        margin-right: -30px; /* Ajuste para aumentar ou diminuir o espaço entre os itens */
    }
    
    .menu-lista li:last-child {
        margin-right: -30; /* Remove a margem do último item */
    }
}

@media screen and (max-width: 1010px){
    .menu-lista li {
        margin-right: -20px; /* Ajuste para aumentar ou diminuir o espaço entre os itens */
    }
    
    .menu-lista li:last-child {
        margin-right: -20; /* Remove a margem do último item */
    }
}

@media screen and (max-width: 1008px) {
    .hamburger{
        margin-left: 450px;
    }

    .menu-lista {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--azul-escuro);
        width: 100%;
        text-align: center;
        padding: 20px;
        transition: max-height 0.4s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }

    .menu-lista::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: #353535;
        z-index: -1; /* Coloca o pseudo-elemento atrás do menu */
    }

    .menu-lista.active {
        display: flex;
        max-height: 400px;
        align-items: center;
        justify-content: center;
    }

    .menu-lista li {
        width: 100%;
    }

    .menu-lista li a {
        display: block;
        padding: 15px 0;
        width: 100%;
    }

    .close-icon {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    nav ul {
        margin: 0;
    }

    #logo {
        z-index: 9999;
    }

    .close-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    #logo{
        z-index: 9999999;
    }
}

@media screen and (max-width: 915px) {
    .hamburger{
        margin-left: 400px;
    }
}

@media screen and (max-width: 845px) {
    .hamburger{
        margin-left: 350px;
    }
}


@media screen and (max-width: 770px){
    .hamburger{
        margin-left: 300px;
    }

    .animal img{
        margin-top: -80px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 710px) {
    .hamburger{
        margin-left: 300px;
    }
}

@media screen and (max-width: 740px){
    .img-problema img{
        width: 600px;
    }

    .problema .txt-problema{
        margin-top: 10px;
    }
 
    .img-tecnologia img{
        width: 600px;
    }

    .titulos-sections h2{
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .tecnologia .txt-tecnologia{
        margin-top: 30px;
    }

    .img-objetivo img{
        width: 600px;
    }

    .objetivo .txt-objetivo{
        margin-top: 20px;
    }

    .img-publico img{
        width: 600px;
    }

    .publico .txt-publico{
        margin-top: 20px;
    }
    
    .img-beneficio img{
        width: 600px;
    }
    
    .beneficios .txt-beneficio{
        margin-top: 20px;
    }

    .img-mudancas img{
        width: 600px;
    }

    .img-donate img{
        width: 600px;
    }
}

@media screen and (max-width: 710px) {
    .hamburger{
        margin-left: 250px;
    }
}

@media screen and (max-width: 642px) {
    .hamburger{
        margin-left: 200px;
    }
}

@media screen and (max-width: 633px){
    .img-problema img{
        width: 500px;
    }
  
    .img-tecnologia img{
        width: 500px;
    }

    .img-objetivo img{
        width: 500px;
    }

    .img-publico img{
        width: 500px;
    }
    
    .img-beneficio img{
        width: 500px;
    }

    .img-mudancas img{
        width: 500px;
    }

    .img-donate img{
        width: 500px;
    }
}

@media screen and (max-width: 574px) {
    .hamburger{
        margin-left: 150px;
    }
}

@media screen and (max-width: 554px){
    .animal img{
        margin-top: -40px;
        margin-bottom: 20px;
        width: 400px;
    }

    .img-problema img{
        width: 400px;
    }
  
    .img-tecnologia img{
        width: 400px;
    }

    .img-objetivo img{
        width: 400px;
    }

    .img-publico img{
        width: 400px;
    }
    
    .img-beneficio img{
        width: 400px;
    }

    .img-mudancas img{
        width: 400px;
    }

    .img-donate img{
        width: 400px;
    }
}

@media screen and (max-width: 510px) {
    .hamburger{
        margin-left: 100px;
    }
}

@media screen and (max-width: 444px) {
    .hamburger{
        margin-left: 50px;
    }
}

@media screen and (max-width: 435px){
    .animal img{
        margin-top: -80px;
        width: 300px;
    }

    .img-problema img{
        width: 350px;
    }
  
    .img-tecnologia img{
        width: 350px;
    }

    .img-objetivo img{
        width: 350px;
    }

    .img-publico img{
        width: 350px;
    }
    
    .img-beneficio img{
        width: 350px;
    }

    .img-mudancas img{
        width: 350px;
    }

    .img-donate img{
        width: 350px;
    }
}

@media screen and (max-width: 376px) {
    .hamburger{
        margin-left: 20px;
    }
}

@media screen and (max-width: 385px){
    .animal .txt-animal p {
        margin-top: 10px;
        font-size: 13px;
    }

    .img-problema img{
        width: 300px;
    }
  
    .img-tecnologia img{
        width: 300px;
    }

    .img-objetivo img{
        width: 300px;
    }

    .img-publico img{
        width: 300px;
    }
    
    .img-beneficio img{
        width: 300px;
    }

    .img-mudancas img{
        width: 300px;
    }

    .img-donate img{
        width: 300px;
    }
}

@media screen and (max-width: 335px){
    .hamburger{
        margin-left: -1px;
    }

    .animal h1 {
        font-size: 35px;
    }

    .animal .txt-animal p {
        margin-top: 10px;
        font-size: 12px;
    }

    .img-problema img{
        width: 280px;
    }
  
    .img-tecnologia img{
        width: 280px;
    }

    .img-objetivo img{
        width: 280px;
    }

    .img-publico img{
        width: 280px;
    }
    
    .img-beneficio img{
        width: 280px;
    }

    .img-mudancas img{
        width: 280px;
    }

    .img-donate img{
        width: 280px;
    }
}





