/* Estilização geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --azul-logo: #3AC6DA;
    --azul-logo-degrade: #3aafda;
    --azul-escuro: #0F1550 ;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* Fim Estilização geral */

/* inicio site */
.inicio{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.paragrafo{
    font-size: 17px;
}

.bg-image{
    background-image: url('../assets/ocean.png');
}

header{
    display: flex;
}

#logo{
    margin-top: 10px;
    margin-left: 10%;
    width: 200px;
    height: 55px;
    transition: 0.3s;
}

#logo:hover{
    transform: scale(1.03);
}

nav{
    margin-left: 15%;
}

nav li a{
    color: white;   
    text-decoration: none;
}

nav li a:hover{
    color: aqua;
}

nav li{
    transition: 0.3s;
}

nav li:hover{
    color: aqua;
    transform: scale(1.03);
}

nav ul{
    margin-top: 30px;
    gap: 20px;
    display: flex;
    list-style-type: none;
    margin-left: 80%;
}

section.animal{
    margin-top: 200px;
    padding: 40px 4%;
}

section.animal .flex{
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.animal h1{
    color: white;
    font-size: 42px;
    line-height: 37px;
}

.animal h1 span{
    font-size: 45px;
    background-image: linear-gradient(var(--azul-logo-degrade), var(--azul-logo));
    -webkit-text-fill-color: transparent; /* Deixa a cor do texto transparente */
    background-clip: text; /* Coloca a cor do fundo como a cor do texto */
}

.animal .txt-animal p {
    color: white;
    margin: 40px 0;
}

.animal button{
    padding: 20px 50px;
    font-size: 15px;
    color: var(--azul-logo);
    background-color: white;
    border: 2px solid var(--azul-logo);
    border-radius: 20px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

.animal button:hover{
    transform: scale(1.02);
    color: white;
    border:2px solid white;
    background-color: var(--azul-logo);
}


.animal img{
    width: 500px;
    position: relative;
    animation: nadando 1.5s ease-in-out infinite alternate;
    transition: 0.3s ease-in-out;
}

@keyframes nadando {
    0%{
        left: 0;
        top: 0;
    }
    100%{
        left: 10px;
        top: 10px;
    }
}
/* fim inicio site */


/* Problema */

section.problema{
    margin: 20px;
    
}

.titulos-sections{
    text-align: center;
}

.titulos-sections h2{
    font-size: 35px;
}

.titulos-sections h2 span{
    background-image: linear-gradient(var(--azul-logo-degrade), var(--azul-logo));
    -webkit-text-fill-color: transparent; /* Deixa a cor do texto transparente */
    background-clip: text; /* Coloca a cor do fundo como a cor do texto */
}

.problema .flex{
    margin: 20px;
    gap: 20px;
    justify-content: center;
}

.img-problema img{
    margin-left: -30px;
    border-radius: 20px;
    width: 700px;
}

.problema .txt-problema{
    margin-top: 110px;
    font-size: 16px;
}

.problema i{
    color: var(--azul-logo);
    font-size: 60px;
}

/* Fim Problema */

/* Tecnologia */

.tecnologia{
    margin-top: 100px;
}

.tecnologia .flex{
    margin: 20px;
    gap: 20px;
}

.tecnologia .txt-tecnologia{
    margin-top: 130px;
}

.img-tecnologia img{
    border-radius: 20px;
    width: 700px;
}

/* Fim Tecnologia */

/* Objetivo */

.objetivo{
    margin-top: 100px;
}

.objetivo .flex{
    gap: 20px;
    margin-top: 20px;
}

.objetivo .txt-objetivo{
    margin-top: 120px;
}

.img-objetivo img{
    border-radius: 20px;
    width: 700px;
}

/* Fim Objetivo */

/* Publico */

.publico{
    margin-top: 100px;
}

.publico .flex{
    margin-top: 20px;
    gap: 20px;
}

.publico .txt-publico{
    margin-top: 110px;
}

.img-publico img{
    width: 700px;
    border-radius: 20px;
}

/* Fim Publico */

/* Beneficio */

section.beneficios{
    margin-top: 100px;
}

.beneficios .flex{
    margin-top: 20px;
    gap: 20px;
}

.img-beneficio img{
    width: 700px;
    border-radius: 20px;
}

.beneficios .txt-beneficio{
    margin-top: 110px;
}

/* Fim Beneficio */

/* Mudancas */ 

section.mudancas{
    margin-top: 100px;
}

.mudancas .flex{
    margin-top: 20px;
    gap: 20px;
}

.img-mudancas img{
    width: 700px;
    border-radius: 20px;
}

.mudancas .txt-mudancas{
    margin-top: 110px;
}

/* Mudancas */ 

/* Donate */
section.donate{
    margin-top: 100px;
}

.donate .txt-donate{
    margin-top: 130px;
}

.btn-donate{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: var(--azul-logo);
    border: 2px solid var(--azul-logo-degrade);
    border-radius: 20px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

.btn-donate i{
    margin-top: 3px;
}

.btn-donate:hover{
    padding: 10px;
    font-size: 15px;
    color: var(--azul-logo);
    background-color: white;
    border: 2px solid var(--azul-logo);
    border-radius: 20px;
    font-weight: 600;
    transform: scale(1.03);
}

.img-donate img{
    position: relative;
    border-radius: 20px;
    width: 700px;
    animation: flutuar 1s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 10px;
    }
}

/* Donate */

/* Final da pagina */

.div-final{
    background-image: url(../assets/div.png);
    width: 100%;
    height: 50vh;
}

footer{
    text-align: center;
    color: white;
}

footer img{
    margin-top: 200px;
}

footer h6{
    font-weight: 500;
}

footer img{
    width: 200px;
}

footer .flex {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center;     /* Centraliza os itens verticalmente (se necessário) */
    margin-bottom: 20px;
    margin-top: -5%;
}

.icon-style i{
    font-size: 35px;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}

.icon-style i:hover{
    color: var(--azul-logo);
}

.footer-content{
    justify-content: space-around;
    margin-top: 100px;
}

/* Fim Final da pagina */
